body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
/*.gallery-section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.date-picker {
    margin-bottom: 20px;
}
.date-picker input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.date-picker button {
    padding: 10px 20px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.date-picker button:hover {
    background-color: #45a049;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f0f0f0;
*/
.logo {
    width: 150px; /* Ширина логотипа */
    height: auto; /* Автоматическая высота */
    position: absolute;
    top:0px;
    left: 0px;
    z-index: 2;
}

.gallery-section {
    padding: 20px;
    text-align: center;
}
.date-picker {
    margin: 20px 0;
}
.date-picker input, .date-picker button {
    margin: 5px;
}
.table {
    margin-top: 20px;
}
.table th, .table td {
    vertical-align: middle;
}

