.navbar {
    background: url('oformlenie/header.jpg') no-repeat center center;
    #background-size: cover;
    position: fixed;
    width: 100%;
    top: 0;
    height: 150px;
    z-index: 1;
}
.navbar-brand img {
    height: 40px;
}
.navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный фон для меню */
}
.navbar-collapse.show {
    display:block;
}
.content {
    margin-top: 80px; /* Высота навигационной панели */
}